{% extends "base.html.twig" %}


{% block title %}Série #{{program.id}}{% endblock %}
{% block body %}
<div class="media">
	<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{program.title}} poster">
	<div class="media-body">
		<h1 class="mt-0">Season
			{{ season.number }}
			de
			{{program.title}}</h1>
		<hr>
		<h2>{{season.description}}</h2>

		<ul class="episode">
			<span>Episode {{episode.number}} : {{episode.title}}</span>
            <p>{{episode.synopsis}}</p>
		</ul>
	</div>
</div>

 <a href="{{ path('season_edit', {'id': season.id}) }}">edit</a>

<a href="{{ path('program_index') }}>
    Retour à la liste des programmes
</a>

{% endblock %}