{% extends "base.html.twig" %}


{% block title %}Série #{{program.id}}{% endblock %}
{% block body %}
<div class="media">
    <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{program.title}} poster">
    <div class="media-body">
        <h1 class="mt-0">Season {{ season.number }} de {{program.title}}</h1>
        <hr>
<h2>{{season.description}}</h2>

<ul class="episode">
<span>Liste des épisodes</span>
    {% for episode in season.episodes %}
        <li>Episode {{episode.number}} : {{episode.title}}</li>
    {% endfor %}
</ul>
    </div>
  
</div>

<a href="{{ path('program_index') }}>
    Retour à la liste des programmes
</a>

{% endblock %}